* {
    background-color: #f9f2e7;
    color: #463f32;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #463f32;
}
